@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    line-height: 1.5em;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.top-navigation {
    background-color: tomato;
}
  
.top-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.top-navigation-wrap {
    margin-right: 2rem;
}

img {
    display: block
}

/* Makes navbar content in the far left. */
/* .top-navigation-main {
    flex: 1; 
} */
  
.main-nav {
    display: flex;
    align-content: flex-start;
    list-style: none;
    padding: 0;
}
  
.navbar-info li {
    margin-right: 20px; /* Adjust the margin as needed to control the spacing between navigation items */
}

ul.navbar-info {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0;
    gap: 1rem;
}

.navbar-info a {
    color: #EED5AE;
    text-decoration: none;
    list-style: none;
}

/* Characters */

/* Structure of grid */

.onePiece-thumbnail, .naruto-thumbnail, .chihiro-thumbnail{
    width: 250px;
    height: 250px;
}

.naruto-thumbnail, .chihiro-thumbnail{
    width: 300px;
    height: 250px;
}

.chihiro-thumbnail{
    width: 330px;
    height: 250px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 30px;
}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

main div iframe {
    grid-column: span 6;
}

main .welcome {
    grid-column: 8 / span 5;
}

main > h2 {
    grid-column: span 12;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
}

main .card {
    grid-column: span 4;
    background: white;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}

.footer {
    padding: 0 0 2.5em 0;
    margin: 0 0 0 2.5em;
}